.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  max-width: 729px;
  margin-top: 80px;
  margin: 80px 0 28px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  margin: 0 0 80px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header-footer {

  display: flex;
  justify-content: space-between;
  margin: 0,

  box-sizing: border-box;

  width: 100%;
  padding: 40px 80px 0;
}

.header-footer__list {
  align-items: center;
  list-style-type: none;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif" 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header-footer__address {
  margin: 0;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__image {
  position: absolute;
  max-width: 646px;
  top: 124px;
  right: 5px;
  z-index: 1;
}
