.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 100px 0 120px 0;
}
.reservation__title {
  margin-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}
.reservation__form {
  margin: 0 auto;
}
.form {
  max-width: 641px;
  padding: 20px 128px;
  box-sizing: border-box;
}

.form__fieldset {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border: none;
}
.form__label {
  display: block;
  margin: auto;
  max-width: 385px;
}
.form__input {
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
}
.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  height: 60px;
  background-color: #2f80ed;
  color: white;
  border: none;
  border-radius: 4px;
  width: 385px;
  margin-bottom: 32px;
}
.form__button:hover {
  transition: 1.5s;
  opacity: 0.7;
}
.form__checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  border: none;
  display: flex;
  justify-content: center;
  margin-right: 12px;
}
