.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.content {
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  max-width: 729px;
  margin-top: 80px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-bottom: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header-footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-footer__list {
  align-items: center;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header-footer__hours {
}

.header__subtitle {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header-footer__address {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__image {
  position: absolute;
  min-height: 640px;
  width: 568px;
  top: 124px;
  right: 5px;
}

.content {
}

.footer {
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  list-style: none;
  column-gap: 20px;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  height: 125px;
  width: 142px;
}

.recipes {
  background-size: cover;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-color: #0a2750;
  padding: 100px 0 0 80px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 40px;
}

.recipes__title {
  max-width: 580px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
}

.recipes__iframe {
  display: inline-block;
  justify-content: center;
}

.recipes__caption {
  display: flex;
  justify-content: space-between;
  width: 480px;
  height: 273px;
}
.recipes__fonts {
  margin-top: 24px;
  color: white;
}

.recipes__caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 215px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 100px 0 120px 0;
}
.reservation__title {
  margin-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}
.reservation__form {
  margin: 0 auto;
}
.form {
  max-width: 641px;
  padding: 20px 128px;
  box-sizing: border-box;
}

.form__fieldset {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border: none;
}
.form__label {
  display: block;
  margin: auto;
  max-width: 385px;
}
.form__input {
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
}
.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  height: 60px;
  background-color: #2f80ed;
  color: white;
  border: none;
  border-radius: 4px;
  width: 385px;
  margin-bottom: 32px;
}
.form__button:hover {
  transition: 1.5s;
  opacity: 0.7;
}
.form__checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  border: none;
  display: flex;
  justify-content: center;
  margin-right: 12px;
}

.menu {
  min-height: 100%;
  padding-top: 100px 80px 100px 80px;
  position: relative;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 24px;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.menu__subtitle {
  text-align: center;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 0 0;
  margin: 0 auto;
  gap: 100px;
  width: 1200px;
  margin-bottom: 100px;
}

.card__card {
  width: 350px;
  gap: 100px;
  margin: 0 auto;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  max-width: 100px;
  margin-bottom: 32px;
  padding-top: 0;
}

.card__title_list {
  margin: 0 auto;
  padding: 0 0 32px 0;
  width: 550px;
  list-style: none;
  line-height: 2;
}

.card__list-item {
  display: flex;
  margin: 0 auto;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.about {
  display: flex;
  background-color: #0a2850;
  justify-content: space-between;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  z-index: 0;
}

.about__title {
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  z-index: 1;
}

.about__content {
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin-bottom: 173px;
  margin-right: 80px;
  margin-top: 119px;
}

.about__paragraph {
  gap: 20px;
}

.about__circle {
  top: -152px;
  left: -129px;
  background-color: #2f80ed;
  position: absolute;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: 0;
}

.about__circle_animation_blurred {
  top: -152px;
  left: -129px;
  background-color: #2f80ed;
  position: absolute;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: 0;
  animation: scale 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  min-height: 224px;
  padding: 60px 102px 60px 80px;
  margin: 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 100px;
  margin-top: 60px;
}

.footer__column_content_social {
  margin-left: 100px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}
.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__copyright {
  margin: 108px 0 0 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
