.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.content {
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  max-width: 729px;
  margin-top: 80px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-bottom: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header-footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-footer__list {
  align-items: center;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header-footer__hours {
}

.header__subtitle {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header-footer__address {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__image {
  position: absolute;
  height: 646px;
  width: 568px;
  top: 124px;
  right: 5px;
}

.content {
}

.footer {
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  list-style: none;
  column-gap: 20px;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  height: 125px;
  width: 142px;
}

.recipes {
  background-size: cover;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-color: #0a2750;
  padding: 100px 0 0 80px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 40px;
}

.recipes__title {
  max-width: 580px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
}

.recipes__iframe {
  display: inline-block;
  justify-content: center;
}

.recipes__caption {
  display: flex;
  justify-content: space-between;
  width: 480px;
  height: 273px;
}
.recipes__fonts {
  margin-top: 24px;
  color: white;
}

.recipes__caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 215px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 100px 0 120px 0;
}
.reservation__title {
  margin-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}
.reservation__form {
  max-width: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.form__fieldset {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__label {
  display: block;
  margin: auto;
  max-width: 385px;
  margin-bottom: 32px;
}
.form__input {
  width: 385px;
  height: 60px;
}
.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  height: 60px;
  background-color: #2f80ed;
  color: white;
  border: none;
  width: 385px;
  margin-top: 32px;
}
.form__input_type_checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  border: none;
  display: block;
}

.menu {
}

.about {
}
